#dashboard{
    padding: 10px;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    height: 100%;
    box-sizing: border-box;
}

#recent_posts{
    grid-column: 1/3;
    grid-row: 2/12;
}
#recent_pages{
    grid-column: 3/4;
    grid-row: 2/12;
}