#loadingScreen {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  backdrop-filter: blur(16px) saturate(180%);
}
#loadingScreen > img {
  animation: loadingScreen 10s linear infinite;
  height: 250px;
  width: auto;
  z-index: 2;
  left:0;
  right:0;
  top:0;
  bottom:0;
  margin:auto;
  position: absolute;
}

.Window:has(#loadingScreen) {
}

@keyframes loadingScreen {
  0% {
    transform: translate(0, 0px);
    filter: drop-shadow(10px 10px 10px rgb(26, 4, 34));
  }
  50% {
    transform: translate(0, 15px);
    filter: drop-shadow(15px 15px 15px rgb(39, 6, 51));
  }
  100% {
    transform: translate(0, -0px);
    filter: drop-shadow(10px 10px 10px rgb(26, 4, 34));
  }
}

#loadingScreen section {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  max-height: 100%;
  animation: ShootingStars 50s linear infinite;
}
@keyframes ShootingStars {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}
#loadingScreen span {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4px;
  height: 4px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1),
    0 0 0 8px rgba(255, 255, 255, 0.1), 0 0 20px rgba(255, 255, 255, 1);
  animation: animate 3s linear infinite;
}
#loadingScreen span::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 300px;
  height: 1px;
  background: linear-gradient(90deg, #fff, transparent);
}
@keyframes animate {
  0% {
    transform: rotate(315deg) translateX(0);
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: rotate(315deg) translateX(-100vh);
    opacity: 0;
  }
}
#loadingScreen span:nth-child(1) {
  top: 0;
  right: 0;
  left: initial;
  animation-delay: 0;
  animation-duration: 1s;
}

#loadingScreen span:nth-child(2) {
  top: 0;
  right: 80px;
  left: initial;
  animation-delay: 0.2s;
  animation-duration: 3s;
}

#loadingScreen span:nth-child(3) {
  top: 80px;
  right: 0px;
  left: initial;
  animation-delay: 0.4s;
  animation-duration: 2s;
}

#loadingScreen span:nth-child(4) {
  top: 0;
  right: 180px;
  left: initial;
  animation-delay: 0.6s;
  animation-duration: 1.5s;
}

#loadingScreen span:nth-child(5) {
  top: 0;
  right: 400px;
  left: initial;
  animation-delay: 0.8s;
  animation-duration: 2.5s;
}

#loadingScreen span:nth-child(6) {
  top: 0;
  right: 600px;
  left: initial;
  animation-delay: 1s;
  animation-duration: 3s;
}
#loadingScreen span:nth-child(7) {
  top: 200px;
  right: 0px;
  left: initial;
  animation-delay: 1s;
  animation-duration: 1.75s;
}

#loadingScreen span:nth-child(8) {
  top: 0px;
  right: 700px;
  left: initial;
  animation-delay: 1.4s;
  animation-duration: 1.25s;
}

#loadingScreen span:nth-child(9) {
  top: 0px;
  right: 1000px;
  left: initial;
  animation-delay: 0.75s;
  animation-duration: 2.25s;
}

#loadingScreen span:nth-child(10) {
  top: 0px;
  right: 1000px;
  left: initial;
  animation-delay: 2.75s;
  animation-duration: 2.25s;
}
